@media screen and (min-width: 800px) {
    #centered-container {
        width: 50vw;
    }
    /* #results-buttons {
        width: 425px;
    } */
    /* arata urat cu chestia asta de sus */
}

.no-link-decoration {
    color: inherit; /* blue colors for links too */
    text-decoration: none; /* no underline */
}

#guide-dropdown-button {
    color: inherit; /* blue colors for links too */
    text-decoration: none; /* no underline */
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    /* margin-top: auto; */
    font-size: small;
}

.butoane {  
  border-radius: 20px;
}

#results-buttons {
  margin-top: 1.5em;
}

#main_results {
  background: rgb(219, 219, 219);
  box-shadow: 1px 2px rgb(179, 179, 179);
  border-radius: 30px;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 1.3rem;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#results-container {
  background: rgb(236, 236, 236);
  border-radius: 30px;
  padding: 2em;
  padding-top: 0;
}